body {
    --branco: #ffffff;
    --azul-escuro: #00469b;
    --azul-claro: #60cdff;
    --verde-claro: #D2DC5D;
    font-family: 'Barlow', sans-serif;
    height: 4000px;
    
  }

  .navbar {
    background-color: var(--azul-claro);
  }


  input[type=checkbox] {
    border: 2px solid var(--azul-escuro);
    box-shadow: none;
  }
  
  input[type=checkbox]:checked,
  input[type="checkbox"]:focus {
    background-color: var(--verde-claro);
    border-color: var(--verde-claro);
    box-shadow: none;
    outline: none;
  }

  .banner-1 {
    background-image: url(./images/Fisioterapia-no-esporte.png) ;
  }

  .banners {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .banners-titulo {
    background-color: var(--verde-claro) ;
    opacity: 0.6;
  }

  .banner-2 {
    background-image: url(./images/Untitled-3.jpg);
  }

  .banners-titulo-2 {
    background-color: var(--azul-claro);
    opacity: .6;
  }

  .banner-3{
    background-image: url(./images/banners4.jpg);
  }

  .botao-padrao {
    background-color: var(--azul-claro);
    color: black;
  }
  
  .botao-padrao:hover {
    background-color: var(--azul-escuro);
  }

  .footer {
    background-color: var(--azul-claro)
  }

  [data-bs-theme="dark"] {
    color: white;
    .nav-link, .card-body,.offcanvas, .btn  {
      --bs-nav-link-color: white;
      --bs-card-color: white;
      --bs-body-color: white;
    }
  }
